consul {
  # Point `consul` to `consul.service.consul`
  rewrite name exact consul consul.service.consul
  forward . {{
    groups['controlplane'] | map('extract', hostvars, 'vagrant_ipv4') |
    default(groups['controlplane'] | map('extract', hostvars, ['ansible_default_ipv4', 'addres'])) |
    list |
    join(':8600 ') }}:8600

  log
  errors
}

. {
  # Point all `.demo` queries to load balancer
  template IN A demo {
    answer "{% raw %}{{ .Name }}{% endraw %} 60 IN A {{ vagrant_loadbalancer_ip | default(hostvars['loadbalancer']['ansible_default_ipv4']['address']) }}"
    fallthrough
  }

  # Point all `vault` queries to Vault cluster
  template IN A vault {
{% for host in groups['vault'] %}
    answer "{% raw %}{{ .Name }}{% endraw %} 60 IN A {{ hostvars[host]['vagrant_ipv4'] | default(hostvars[host]['ansible_default_ipv4']['address']) }}"
{% endfor %}
    fallthrough
  }

  forward . tls://1.1.1.1 tls://1.0.0.1 {
   tls_servername cloudflare-dns.com
   health_check 5s
  }

  cache 30
  log
  errors
}
