{%- set network_interface_ipv4 = hostvars[inventory_hostname]['vagrant_ipv4'] | default(hostvars[inventory_hostname]['ansible_default_ipv4']['address']) -%}
{% raw %}{{ with secret{% endraw %} "pki_int/issue/{{ consul_datacenter | default('dc1') }}.consul" "common_name=client.{{ consul_datacenter | default('dc1') }}.consul" "alt_names=consul.service.consul,localhost" "ip_sans={{ network_interface_ipv4 }},127.0.0.1" {% raw %}}}
{{ .Data.issuing_ca }}
{{ end }}
{% endraw %}
