data_dir = "/opt/consul"
datacenter = "{{ consul_datacenter }}"

{# MUST be 32 bytes, Base64-encoded #}
encrypt = "{{ lookup('password', '/tmp/consulhash length=32') | b64encode }}"

{% if consul_mode == 'server' %}
server = true
client_addr = "0.0.0.0"
bootstrap_expect = {{ groups['controlplane'] | length }}
retry_join = {{
  groups['controlplane'] | map('extract', hostvars, 'vagrant_ipv4') |
    default(groups['controlplane'] | map('extract', hostvars, ['ansible_default_ipv4', 'addres'])) |
    list |
    to_json }}
ui = true
{% else %}
client_addr = "127.0.0.1"
retry_join = ["consul.service.consul"]
{% endif %}
