---
- hosts: consul_nomad
  become: yes
  roles:
    - name: base
    - name: jre
    - name: docker
    - name: consul
    - name: nomad

  post_tasks:
    - name: Disable systemd-resolved service
      systemd:
        name: systemd-resolved
        state: stopped
        enabled: no

    - name: Set nameserver to localhost
      copy:
        content: "nameserver {{ loadbalancer_ip }}"
        dest: /etc/resolv.conf


- hosts: loadbalancer
  become: yes
  roles:
    - name: coredns
    - name: traefik


- hosts: localhost
  tasks:
    - name: Run all jobs on Nomad # noqa 301
      command: vagrant ssh consul-nomad-node1 -c 'for job in *.nomad; do nomad job run "$job"; done'
