[Unit]
Description=Run scheduled Nomad Raft snapshot

[Timer]
# Ref: https://www.freedesktop.org/software/systemd/man/systemd.time.html#Calendar%20Events
OnCalendar={{ nomad_snapshot_timing }}
Persistent=true

[Install]
WantedBy=timers.target
