datacenter = "dc1"
data_dir = "/opt/nomad"

bind_addr = "0.0.0.0"
advertise {
  http = "{{ hostvars[inventory_hostname]['ansible_' + interface]['ipv4']['address'] }}:4646"
  rpc  = "{{ hostvars[inventory_hostname]['ansible_' + interface]['ipv4']['address'] }}:4647"
  serf = "{{ hostvars[inventory_hostname]['ansible_' + interface]['ipv4']['address'] }}:4648"
}

client {
  enabled = true
  network_interface = "{{ interface }}"
}

server {
  enabled = true
  bootstrap_expect = {{ groups['consul_nomad'] | length }}
  server_join {
    retry_join = ["{{ consul_nomad_ips | join('","') }}"]
    retry_max = 3
    retry_interval = "15s"
  }
}
