datacenter = "dc1"
data_dir = "/opt/nomad"

bind_addr = "0.0.0.0"
advertise {
  http = "{{ network_interface_ipv4 }}:4646"
  rpc  = "{{ network_interface_ipv4 }}:4647"
  serf = "{{ network_interface_ipv4 }}:4648"
}

{# loopback interface is `lo` on Linux, but `lo0` on macOS/BSD #}
client {
  enabled = true
  network_interface = "{{ network_interface | default(ansible_interfaces | select('match', '^lo\d?') | first) }}"
}

server {
  enabled = true
  # MUST be 16 bytes, Base64-encoded
  encrypt = "{{ lookup('password', '/tmp/nomadhash length=16') | b64encode }}"
  bootstrap_expect = {{ groups['consul_nomad'] | length }}
  server_join {
    retry_join = {{ consul_nomad_ips | to_json }}
    retry_max = 3
    retry_interval = "15s"
  }
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
