[Unit]
Description=HashiCorp Nomad
Documentation=https://nomadproject.io/docs/
Wants=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl
StartLimitIntervalSec=10
StartLimitBurst=3

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=2
Restart=on-failure

# Security
NoNewPrivileges=yes

# Process Properties
LimitNOFILE=infinity
LimitNPROC=infinity

# Sandboxing
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed

# Must be disabled to execute Java tasks.
# ReadWritePaths=/etc/nomad.d {{ nomad_data_dir }}
# ProtectSystem=strict
ProtectHome=read-only
# Allow Nomad to manage cgroups
# NOTE: not sure this is actually required
ProtectControlGroups=no
ProtectKernelModules=yes
ProtectKernelTunables=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
# Must be disabled to execute Java tasks.
# RestrictNamespaces=yes
RestrictRealtime=yes
# Must be disabled to execute Java tasks.
# RestrictSUIDSGID=yes

# Must be disabled for Nomad to detect a Java runtime and execute Java tasks.
#
# From the docs:
# »Note that this option is incompatible with programs and libraries that generate
# program code dynamically at runtime, including JIT execution engines,
# executable stacks, and code "trampoline" feature of various C compilers.«
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#MemoryDenyWriteExecute=
# MemoryDenyWriteExecute=yes

# Kill
# https://www.freedesktop.org/software/systemd/man/systemd.kill.html
KillMode=process
KillSignal=SIGINT

# Other
TasksMax=infinity

[Install]
WantedBy=multi-user.target
