[Unit]
Description=HashiCorp Consul ESM
Documentation=https://github.com/hashicorp/consul-esm
Requires=network-online.target consul.service
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/consul-esm.hcl

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
Type=notify
ExecStart=/usr/bin/consul-esm -config-file=/etc/consul.d/consul-esm.hcl
Restart=on-failure

# Exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
User=consul
Group=consul

# Security
NoNewPrivileges=yes

# Process Properties
LimitNOFILE=65536

# Sandboxing
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed

ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

MemoryDenyWriteExecute=yes

# Kill
# https://www.freedesktop.org/software/systemd/man/systemd.kill.html
KillMode=process

[Install]
WantedBy=multi-user.target
