storage "consul" {
  address = "127.0.0.1:8500"
  path = "vault"
}

service_registration "consul" {
  service_tags = "http,controlplane"
}

listener "tcp" {
  address = "127.0.0.1:8200"
  cluster_address = "127.0.0.1:8201"
  tls_disable = true
  telemetry {
    unauthenticated_metrics_access = true
  }
}

listener "tcp" {
  address = "{{ network_interface_ipv4 }}:8200"
  cluster_address = "{{ network_interface_ipv4 }}:8201"
  tls_disable = true
  telemetry {
    unauthenticated_metrics_access = true
  }
}

telemetry {
  prometheus_retention_time = "30s"
  disable_hostname = true
}

# Advertise the non-loopback interface
api_addr = "http://{{ network_interface_ipv4 }}:8200"
cluster_addr = "http://{{ network_interface_ipv4 }}:8201"

ui = true
