[Unit]
Description="Traefik Proxy"
Documentation=https://docs.traefik.io
After=network-online.target
ConditionFileNotEmpty=/etc/traefik/traefik.yaml

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
Type=notify
ExecStart=/usr/bin/traefik --configFile=/etc/traefik/traefik.yaml
WatchdogSec=1
Restart=always

# Exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
User=traefik

# Capabilities
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Security
NoNewPrivileges=true

# Sandboxing
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
