[Unit]
Description="Traefik Proxy"
Documentation=https://docs.traefik.io
After=network-online.target
ConditionFileNotEmpty=/etc/traefik/traefik.yaml

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
Type=notify
ExecStart=/usr/bin/traefik --configFile=/etc/traefik/traefik.yaml
WatchdogSec=1
Restart=always

# Exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
User=traefik

# Capabilities
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Process Properties
#LimitNPROC=1

# Sandboxing
#ProtectSystem=strict
#ProtectHome=true
#ReadWritePaths=/etc/traefik/acme.json
#PrivateTmp=true
#PrivateDevices=true
#ProtectKernelTunables=true
#ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
