[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/vault.d/vault.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
ExecStart=/usr/bin/vault {% if vault_mode == 'server' %}server{% else %}agent{% endif %} -config=/etc/vault.d/vault.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
RestartSec=5
TimeoutStopSec=30
Restart=on-failure

# Exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
User=vault
Group=vault

# Capabilities
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK

# Security
NoNewPrivileges=yes
SecureBits=keep-caps

# Process Properties
LimitNOFILE=65536
LimitMEMLOCK=infinity

# Sandboxing
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed

{% if vault_mode == 'server' %}
ProtectSystem=strict
{% else %}
# Allow access to `/etc` (writing secrets for other serivces),
# mounts `/usr` and `/boot` read-only.
ProtectSystem=yes
{% endif %}
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

# Kill
# https://www.freedesktop.org/software/systemd/man/systemd.kill.html
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
