job "jar-server" {
  datacenters = ["dc1"]
  type = "service"

  constraint {
    attribute = "${attr.unique.network.ip-address}"
    value     = "{{ consul_nomad_ips | first }}"
  }

  # A group defines a series of tasks that should be co-located
  # on the same client (host). All tasks within a group will be
  # placed on the same host.
  group "web" {
    count = 1

    task "frontend" {
      driver = "docker"

      config {
        image = "fhemberger/jar-server-demo"
      }

      env {
        PORT = "${NOMAD_PORT_http}"
      }

      resources {
        cpu = 100
        memory = 100
        network {
          mbits = 1
          port "http" {}
        }
      }

      service {
        name = "jar-server"
        tags = ["http"]
        port = "http"
        check {
          type     = "http"
          path     = "/"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
