# Static configuration
log:
  level: ERROR

accessLog: {}

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"

global:
  sendAnonymousUsage: false

metrics:
  prometheus: {}

pilot:
  dashboard: false

providers:
  consulCatalog:
    constraints: "Tag(`http`)"
    defaultRule: "Host(`{% raw %}{{ normalize .Name }}{% endraw %}.{{ domain }}`)"
    endpoint:
      address: http://consul.service.consul:8500
  file:
    filename: /etc/traefik/dynamic_conf.yaml
