# Static configuration
log:
  level: ERROR

accessLog: {}

api:
  dashboard: true
  insecure: true

entryPoints:
  dns-tcp:
   address: ":53/tcp"

  dns-udp:
   address: ":53/udp"

  vault:
    address: ":8200"

  web:
    address: ":80"
{% if not traefik_cert_exists %}
    http:
      middlewares:
        - redirect-vault@file
{% else %}
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https

  web-secure:
    address: ":443"
    http:
      middlewares:
        - redirect-vault@file
{% endif %}

global:
  sendAnonymousUsage: false

metrics:
  prometheus: {}

pilot:
  dashboard: false

providers:
  consulCatalog:
    exposedByDefault: false
    defaultRule: "Host(`{% raw %}{{ normalize .Name }}{% endraw %}.{{ domain }}`)"
    endpoint:
      address: http://consul.service.consul:8500
  file:
    filename: /etc/traefik/dynamic_conf.yaml
