[Unit]
Description="CoreDNS"
Documentation=https://coredns.io/manual/toc/
After=network.target
ConditionFileNotEmpty=/etc/coredns/Corefile

# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Service]
ExecStart=/usr/bin/coredns -conf=/etc/coredns/Corefile
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

# Exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
User=coredns

# Capabilities
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Security
NoNewPrivileges=true

# Process Properties
LimitNOFILE=1048576
LimitNPROC=512

# Sandboxing
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
